.title {
    font-family: "EB Garamond", sans-serif;
    font-size: 48px;
    text-align: center;
    margin: 60px;
}
.afisha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-bottom: 100px;
}
.afisha-item {
    color: var(--color-black);
    padding: 0 30px;
    background-color: var(--color-gray);
    width: 1300px;
    height: 300px;
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.afisha-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 0px;
    font-family: "EB Garamond", sans-serif;
    font-size: 32px;
}
.afisha-date span {
    font-size: 64px;
    
}
.afisha-img {
    width: 320px;
    border-radius: 16px;
    height: 240px;
}
.afisha-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
gap: 30px;
}
.afisha-title {
    font-family: "EB Garamond", sans-serif;

font-size: 32px;
font-weight: 700;
line-height: 44.8px;
text-align: left;

}
.afisha-text {
font-size: 16px;
font-weight: 400;
line-height: 22.4px;
text-align: left;

}
.afisha-info-bottom {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;

}
.afisha-bottom-text {
font-size: 16px;
font-weight: 400;
line-height: 22.4px;
text-align: left;

}
.button-green {
    padding: 15px 25px;
    border-radius: 100px;
    background: var(--color-green);
}