:root {
    --color-black: #191919;
    --color-aliceblue: aliceblue;
    --color-light-gray: #EDEDED;
    --color-gray: #d6d6d6;
    --color-green: #05B093;

}
body{
    font-family: "Fira Sans", sans-serif;
    background-color: var(--color-light-gray);
}
.header{
    background-color: var(--color-black);
    text-align: center;
    height: 104px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
nav {
    width: 100%;
}
.header ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 49px;
}
a{
    color: var(--color-aliceblue);
    font-weight: 600;
    font-size: 16px;
    
}
.logo_header{
    font-family: "EB Garamond", sans-serif;
    font-weight: 400;
}

footer{
    padding-top: 50px;
    background-color: var(--color-black);
    height: 386px;
    font-family: "EB Garamond", sans-serif;
    font-weight: 400;

}

.footer_cart{
    display: flex;
    color: var(--color-aliceblue);
    gap: 110px;
    justify-content: center;
}

.footer_events{
    display: flex;
    gap: 24px;
}
.font_style{
    font-variant: bold;
    font-size: 24px;
    padding-bottom: 32px;
}
.bottom_p_footer{
    padding-bottom: 24px;
}

.stripe{
    width: 100%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin-top: 60px;
}

.footer_text{
    color: rgb(193, 193, 193);
    text-align: center;
    font-family: "Fira Sans", sans-serif;
    padding-top: 32px;
}